<app-header></app-header>

<div class="img_wr">
    <img src="../../../assets/images/about1.jpg">
</div>
<div class="img_wr">
    <img src="../../../assets/images/about2.jpg">
</div>
<div class="img_wr">
    <img src="../../../assets/images/about3.jpg">
</div>
<div class="img_wr">
    <img src="../../../assets/images/about4.jpg">
</div>
<div class="img_wr">
    <img src="../../../assets/images/about5.jpg">
</div>
<div class="img_wr">
    <img src="../../../assets/images/about6.jpg">
</div>
<app-footer></app-footer>