<app-header></app-header>

<!-- start top banner -->
<mat-card class="top_wrapper">
    <mat-card-content class="container">
        <mat-card-content class="top_inner_content">
            <mat-card-content class="logo_i">
                <img src="../../../assets/images/universal-tech-logo.png">
            </mat-card-content>
            <mat-card-title class="title">
                IS A WIRTHLIN <span> WORLDWIDE</span> DIRECTIVE 
            </mat-card-title>
            <mat-subtitle class="subtitle text-uppercase">UNIVERSAL TECH ASSOCIATES IS THE US BASED ENTITY CHOSEN TO WORK DIRECTLY WITH WIRTHIN WORLDWIDE TO INTRODUCE 
                POTENTIAL EMERGING TECHNOLOGIES AND MARKETING PLATFORMS TO THE GLOBAL MARKETPLACE.
            </mat-subtitle>
        </mat-card-content>
    </mat-card-content>
</mat-card>
<!-- end top banner -->

<section class="aboutwirthlinblock">    

    <mat-card class="b1">
        <mat-card-content class="container">            
            <mat-card-title class="art_title">INFORMATION ABOUT WIRTHLINWORLDWIDE</mat-card-title>
            <mat-card-content class="b1-content">
                <p class="parag">Worldwide International, LLC (“Wirthlin”) has a global initiative with the global law firm, Dentons (www.dentons.com), Dentons brings a strong global reach and depth of over 7,500 lawyers and professionals in 180 locations in 57 countries. We provide strategic consulting services – 
                international venturing, global counseling and crisis management (“Project(s)”). We primarily assist our clients, often as partners in some form, to launch globally, expand around the world 
                (including protecting and broadening existing market share); and, importantly, secure global, strategic partners and investors.</p>
                <mat-card-content class="bluegradbox">
                    <p class="parag">THE OPERATING HISTORY OF WIRTHLINWORLDWIDE IN ASIA SPANS A PERIOD OF 1981-TO-PRESENT INCLUSIVE OF OVER 12 MAJOR PROJECTS WITH GLOBAL FORTUNE 500 BRANDED PARTNERS AND GOVERNMENT ENTITIES.</p>
                </mat-card-content>
                <mat-card-content class="orangegradbox">
                    <p class="parag">The direct network of WirthlinWorldwide in Japan includes two former prime ministers, seven ministers, over twelve former agency directors and approximately twenty former CEO’s of multi-billion dollar corporate entity. This does not include the network connection of each member of the WirthlinWorldwide network structure.</p>
                </mat-card-content>
            </mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="b2">
        <mat-card-content class="container">            
            <mat-card-content class="b2-content">                
                <mat-card-content class="bluebox">
                    <p class="parag">CURRENT LANDSCAPE OF INITIATIVES THAT WIRTHLINWORLDWIDE IS ENGAGING IN PARTNERSHIP WITH UNIVERSAL TECH ASSOCIATES 
                        ON A GLOBAL SCALE.</p>
                        <span class="arrowleftb2">
                            <img class="" src="../../../assets/images/arrowleftb2.png">
                        </span>
                </mat-card-content>
                <p class="parag">Although the number of relationships and opportunities represented through our combined model is way too vast to depict here,the following are the companies and entities that are in current contracting and discussions for integrations withUniversal Tech Associates and WirthlinWorldwide technologies.</p>
            </mat-card-content>
            <mat-card-content class="coldivwrapper">
                <mat-card-content class="coldiv">
                    <span class="coldiv_imgdiv">
                        <img class="" src="../../../assets/images/adkBanner.jpg">
                    </span>    
                    <span class="coldiv_content">
                        <mat-card-title class="header-title"><span class="head">Adk</span> <span class="img_border"></span></mat-card-title>
                        <mat-card-subtitle class="header-subtitle"><a href="https://www.adk.jp/" target="_blank"> www.kettle.co.jp</a></mat-card-subtitle>
                        <p class="parag"><strong>ADK is the</strong> third largest agency in Japan and recently purchased of the public market by Bain Capital. ADK is working to quickly increase their revenue through the investment into marketing and technology companies worldwide.</p>  
                    </span>    
                    <span class="coldiv_gradient grad1">
                    </span>    
                </mat-card-content>  
                <mat-card-content class="coldiv">
                    <span class="coldiv_imgdiv">
                        <img class="" src="../../../assets/images/HakuhodoBanner.jpg">
                    </span>    
                    <span class="coldiv_content">
                        <mat-card-title class="header-title"><span class="head">Hakuhodo Kettle</span> <span class="img_border"></span></mat-card-title>
                        <mat-card-subtitle class="header-subtitle"><a href="https://www.adk.jp/" target="_blank"> www.kettle.co.jp</a></mat-card-subtitle>
                        <p class="parag"><strong>Hakuhodo</strong> is expending hundreds of millions of dollars to acquire US market and location services-based technologies. </p>  
                    </span>    
                    <span class="coldiv_gradient grad2">
                    </span>    
                </mat-card-content>           
            </mat-card-content>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="b3">
        <mat-card-content class="container">            
            <mat-card-content class="b3-content"> 
                <mat-card-content class="coldivwrapper">
                    <mat-card-content class="coldiv">
                        <span class="coldiv_imgdiv">
                            <img class="" src="../../../assets/images/dentsuBanner.jpg">
                        </span>    
                        <span class="coldiv_content">
                            <mat-card-title class="header-title"><span class="head">DENTSU</span> <span class="img_border"></span></mat-card-title>
                            <mat-card-subtitle class="header-subtitle"><a href="https://www.dentsu.com/" target="_blank">www.dentsu.com</a></mat-card-subtitle>
                            <p class="parag"><strong>Dentsu</strong> in one of the three largest advertising groups in the world depending on the means of measurement it is also considered to be number one. Dentsu is working through Wirthlin and Universal Tech Associates to realize their needs to be recognized as a “technology leader” in the Global Marketplace. WirthlinWorldwide has provided private label consulting services to Dentsu since 1990 through its then existing Japan office.</p>  
                            
                        </span>    
                        <span class="coldiv_gradient grad3">
                        </span>    
                    </mat-card-content>  
                    <mat-card-content class="coldiv">
                        <span class="coldiv_imgdiv">
                            <img class="" src="../../../assets/images/metiBanner.jpg">
                        </span>    
                        <span class="coldiv_content">
                            <mat-card-title class="header-title"><span class="head">GOVERNMENT OF JAPAN</span> <span class="img_border"></span></mat-card-title>
                            <mat-card-subtitle class="header-subtitle"><a href="https://www.meti.go.jp/english/" target="_blank">www.meti.go.jp/english/</a></mat-card-subtitle>
                            <p class="parag"><strong>The Ministry</strong> of Economy, Trade and Industry is charged with enhancing economic output in Japan domestically and internationally. METI owns and controls the largest economic data base in Japan (and likely the world) but is not pleased with internal attempts to convert data into sound financial outcomes. METI is considering currently offered proposals and accepting other opportunities through Wirthlin and Universal Tech Associates.</p>  
                        </span>    
                        <span class="coldiv_gradient grad4">
                        </span>    
                    </mat-card-content>    
                    <mat-card-content class="coldiv">
                        <span class="coldiv_imgdiv">
                            <img class="" src="../../../assets/images/pasonaBanner.jpg">
                        </span>    
                        <span class="coldiv_content">
                            <mat-card-title class="header-title"><span class="head">PASONA INC</span> <span class="img_border"></span></mat-card-title>
                            <mat-card-subtitle class="header-subtitle"><a href="https://www.pasonagroup.co.jp/english/" target="_blank">www.pasonagroup.co.jp/english/</a></mat-card-subtitle>
                            <p class="parag"><strong>Is a Japanese</strong> multinational corporation that provides a variety of staffing services, including temporary staffing, recruiting, outplacement, and outsourcing. The company is headquartered in the Ōtemachi district of Tokyo and is the second largest staffing company in Japan. rather than a second or third tier human resources provider. Wirthlin has introduced several technologies that are currently working through the early integration stages.</p>  
                        </span>    
                        <span class="coldiv_gradient grad5">
                        </span>    
                    </mat-card-content>        
                </mat-card-content>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card class="b4">
        <mat-card-content class="container">
            <mat-card-content class="coldivwrapper">
                <mat-card-content class="coldiv">
                    <span class="coldiv_imgdiv">
                        <img class="" src="../../../assets/images/lionsgateBanner.jpg">
                    </span>    
                    <span class="coldiv_content">
                        <mat-card-title class="header-title"><span class="head">LIONS GATE INDIA</span> <span class="img_border"></span></mat-card-title>
                        <mat-card-subtitle class="header-subtitle"><a href="https://www.lionsgate.com/" target="_blank">www.lionsgate.com/</a></mat-card-subtitle>
                        <p class="parag"><strong>Major media</strong> company in India working with film, tv as well as music. As a sister company of Lions Gate US the currently funding and investment decisions of Lions Gate India is fully managed by Wirthlin Dentons. They are looking for technologies that can help with their county based objectives as well as worldwide reach.</p>  
                    </span>    
                    <span class="coldiv_gradient grad3">
                    </span>    
                </mat-card-content>  
                <mat-card-content class="coldiv">
                    <span class="coldiv_imgdiv">
                        <img class="" src="../../../assets/images/itochuBanner.jpg">
                    </span>    
                    <span class="coldiv_content">
                        <mat-card-title class="header-title"><span class="head">ITOCHU CORPORATION</span> <span class="img_border"></span></mat-card-title>
                        <mat-card-subtitle class="header-subtitle"><a href="https://www.itochu.co.jp/en/" target="_blank">www.itochu.co.jp/en/</a></mat-card-subtitle>
                        <p class="parag"><strong>With approximately</strong> 110 bases in 63 countries, ITOCHU, one of the leading sogo shosha, is engaging in domestic trading, import/export, and overseas trading of various products such as textile, machinery, metals, minerals, energy, chemicals, food, general products, realty, information and communications technology, and finance, as well as business investment in Japan and overseas. Itochu is interested in promising technology investments and synergies sourced in the United States as well as internationally.</p>  
                    </span>    
                    <span class="coldiv_gradient grad1">
                    </span>    
                </mat-card-content>           
            </mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card class="b5">
        <mat-card-content class="container">            
            <mat-card-content class="b5-content"> 
                <mat-card-content class="coldivwrapper">
                    <mat-card-content class="coldiv">
                        <span class="coldiv_imgdiv">
                            <img class="" src="../../../assets/images/topicBanner.jpg">
                        </span>    
                        <span class="coldiv_content">
                            <mat-card-title class="header-title"><span class="head">PONY CANYON</span> <span class="img_border"></span></mat-card-title>
                            <mat-card-subtitle class="header-subtitle"><a href="https://www.ponycanyon.co.jp/" target="_blank">https://www.ponycanyon.co.jp/</a></mat-card-subtitle>
                            <p class="parag"><strong>A multi-million</strong> dollar media company Is deeply involved in music, liberal arts, literary arts, sports, movies, entertainment, various audio and visual software (CD, DVD, etc.), game software, and books, planning, production, sales, movie distribution, planning of concerts and events. Their main shareholder Fuji Media Holdings Inc. They are working with Wirthlin for the introduction of new technologies that further develop their global footprint.</p>  
                            
                        </span>    
                        <span class="coldiv_gradient grad2">
                        </span>    
                    </mat-card-content>  
                    <mat-card-content class="coldiv">
                        <span class="coldiv_imgdiv">
                            <img class="" src="../../../assets/images/amuseBanner.jpg">
                        </span>    
                        <span class="coldiv_content">
                            <mat-card-title class="header-title"><span class="head">AMUSE INC</span> <span class="img_border"></span></mat-card-title>
                            <mat-card-subtitle class="header-subtitle"><a href="https://ir.amuse.co.jp/english/" target="_blank">https://ir.amuse.co.jp/english/</a></mat-card-subtitle>
                            <p class="parag"><strong>Amuse</strong> is the leader in the Promotion and management of celebrities, musicians, film directors, scriptwriters, athletes and intellectuals. They manage Production, contracting and performance of music, film, theater and theatrical entertainment and lecture, and management and contracting of these facilities. Amuse is currently investigating technologies that increase their online reach and influence.</p>  
                        </span>    
                        <span class="coldiv_gradient grad6">
                        </span>    
                    </mat-card-content>   
                            
                </mat-card-content>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card class="b6">
        <mat-card-content class="container">  
            <mat-card-content class="coldivwrapper">
                <mat-card-content class="coldiv">
                    <span class="coldiv_imgdiv">
                        <img class="" src="../../../assets/images/ldhBanner.jpg">
                    </span>    
                    <span class="coldiv_content">
                        <mat-card-title class="header-title"><span class="head">LDH JAPAN INC</span> <span class="img_border"></span></mat-card-title>
                        <mat-card-subtitle class="header-subtitle"><a href="https://www.ldh.co.jp/eng/company/" target="_blank">https://www.ldh.co.jp/eng/company/</a></mat-card-subtitle>
                        <p class="parag"><strong>Is a Japanese</strong> management and entertainment company founded by the six original members of Japanese boy group Exile in 2003. The president is Hiroyuki Igarashi, the leader of the Exile The company is a multimillion-dollar entity operating several boy bands and girl groups and a dance school named "EXPG". They are looking to Wirthlin to increase their technology and online music communities through strategic technology partnerships.</p>  
                    </span>    
                    <span class="coldiv_gradient grad3">
                    </span>    
                </mat-card-content>  
                <mat-card-content class="coldiv">
                    <span class="coldiv_imgdiv">
                        <img class="" src="../../../assets/images/glob_banner.jpg">
                    </span>    
                    <span class="coldiv_content">
                        <mat-card-title class="header-title"><span class="head">GLOBUSRELIEF</span> <span class="img_border"></span></mat-card-title>
                        <mat-card-subtitle class="header-subtitle"><a href="http://www.globusrelief.org/" target="_blank">http://www.globusrelief.org/</a></mat-card-subtitle>
                        <p class="parag"><strong>Globus is a medical</strong> resource humanitarian organization. They are committed to partnering with other charities, corporations and governments working to improve the delivery of healthcare across the world. Their efforts will be marked by upgrading medical facilities, supplies and standards of delivery across the world.</p>  
                    </span>    
                    <span class="coldiv_gradient grad1">
                    </span>    
                </mat-card-content>           
            </mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="b7">
        <mat-card-content class="container">  
            <mat-card-content class="coldivwrapper">
                <mat-card-content class="coldiv">
                    <span class="coldiv_imgdiv">
                        <img class="" src="../../../assets/images/aboutusbottomBanner.png">
                    </span>    
                    <span class="coldiv_content">
                        <mat-card-title class="header-title"><span class="head">INTERESTED IN HAVING UNIVERSAL TECH ASSOCIATES <br>AND WIRTHLINWORLDWIDE <br>REPRESENT YOU ON THE GLOBAL STAGE?</span></mat-card-title>
                        <p class="parag"><strong>Do you have technologies and marketing platforms that would benefit from performance on the world stage?</strong></p>
                        <a mat-list-item class="btnblue" [routerLink]="['/contactus']">Click here to learn more about our available programs.</a>  
                    </span>    
                    <span class="coldiv_gradient grad2">
                    </span>    
                </mat-card-content>  
                         
            </mat-card-content>
        </mat-card-content>
    </mat-card>

    <img class="bgbannerbottom" src="../../../assets/images/bannerouter-bg.png">

</section>   


<app-footer></app-footer>