<mat-toolbar class="footer_w">
    <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
        <a (click)="scrollToTop()">
          <i class="material-icons">
            arrow_upward
            </i>
        </a>
    </div>
    <mat-card-content class="inner_w">
        <span class="image_wr">
            <img src="../../../assets/images/universal-tech-logo.png">
        </span>
        <mat-card-content class="nav_wrapper">
            <mat-nav-list class="nav_list">
                <a mat-list-item [routerLink]="['/home']" routerLinkActive="active">Home</a>
                <a mat-list-item [routerLink]="['/about-wirthlin']" routerLinkActive="active">about wirthlin</a>
                <a mat-list-item [routerLink]="['/prospects']" routerLinkActive="active">prospects</a>
                <a mat-list-item [routerLink]="['/representations']" routerLinkActive="active">representation</a>
                <a mat-list-item [routerLink]="['/contact-us']" routerLinkActive="active">contact us</a>
            </mat-nav-list>
            <p class="terms_condition">Copyright © 2020 Dreamstime. All rights reserved.</p>
        </mat-card-content>
    </mat-card-content>
</mat-toolbar>