<mat-toolbar class="header_w">
    <mat-card-content class="inner_wrapper">
        <span class="lo_wrapper">
        <mat-card-content class="logo">
            <img src="../../../assets/images/universal-tech-logo.png">
        </mat-card-content>
        <button mat-button class="menus" (click)="clickEvent()">
         <span class="material-icons"> menu </span></button>
    </span>
        <mat-nav-list class="nav_list"  [ngClass]="status ? 'success' : 'danger'">
            <span class="inner_span">
                <a mat-list-item [routerLink]="['/home']" routerLinkActive="active">Home</a>
                <a mat-list-item [routerLink]="['/aboutus']" routerLinkActive="active">about wirthlin</a>
                <a mat-list-item [routerLink]="['/prospects']" routerLinkActive="active">prospects</a>
                <a mat-list-item [routerLink]="['/representation']" routerLinkActive="active">representation</a>
            </span>
            <a class="contact-us active" mat-list-item [routerLink]="['/contactus']">contact us</a>
        </mat-nav-list>
    </mat-card-content>
</mat-toolbar>