<app-header></app-header>

<mat-card class="top_wrapper">
    <mat-card-content class="container">
        <mat-card-content class="top_inner_content">
            <mat-card-content class="logo_i">
                <img src="../../../assets/images/universal-tech-logo.png">
            </mat-card-content>
            <mat-card-title class="title">
                IS A CONSORTIUM OF <span> HIGH-POWER <br>
                    GLOBAL PARTNERSHIPS </span> WORKING <br>
                WITH EMERGING TECHNOLOGIES IN THE <br>
                CURRENT GLOBAL MARKETPLACE.
            </mat-card-title>
            <mat-subtitle class="subtitle">

                The opportunities we represent are the with the largest corporations, marketing<br>
                agencies and global investment groups in the world. Including our<br>
                direct relationship with Wirthlin Worldwide.
            </mat-subtitle>
        </mat-card-content>

    </mat-card-content>
</mat-card>
<!-- end top banner -->


<mat-card class="representWrapper">
    <mat-card-content class="container">
        <mat-card-title class="rep_title">
            WHO WE REPRESENT AND PARTNER WITH
        </mat-card-title>
        <mat-card-content class="details_data">
            <mat-card-content class="details_item">
                Big DATA opportunities for <br>companies that hold are and <br>are looking to access data <br>worldwide
                on a global scale.
            </mat-card-content>
            <mat-card-content class="details_item">
                New emerging technology <br> companies that are scalable <br> for global market <br>
                development.
            </mat-card-content>
            <mat-card-content class="details_item">
                New emerging technology<br> companies that are scalable<br> for global market <br>
                development.
            </mat-card-content>
            <mat-card-content class="details_item">
                New emerging technology<br> companies that are scalable<br> for global market <br>
                development.
            </mat-card-content>
        </mat-card-content>
    </mat-card-content>
</mat-card>

<mat-card class="uviTech_wrapper">
    <mat-card-content class="blk1">
        <mat-card-content class="container">
            <mat-card-content class="item_section">
                <mat-card-title class="title_bg">UNIVERSAL TECH ASSOCIATES</mat-card-title>
                <p class="para"> initiatives are built in partnership directly with WirthlinWorldwide with access to 1st
                    world and other governments, billion-dollar
                    corporations and over 30 years of developed relationships. Please click here to learn more about
                    this relationship and how it relates to your engagement with us.</p>
                <button mat-button class="univ_button">Learn more about the Universal Tech Associates and
                    WirthlinWorldwide relationship</button>
            </mat-card-content>
        </mat-card-content>
    </mat-card-content>
    <mat-card-content class="blk2">
        <mat-card-content class="container">
            <mat-card-content class="item2">
                <mat-card-title class="title_bg">OUR STRATEGIC BUNDLING OF
                    TECHNOLOGIES TO MEET THE
                    DEMANDS OF OUR GLOBAL
                    PARTNERSHIPS.</mat-card-title>
                <mat-card-content class="list1">
                    <mat-card-content class="list_item">
                        <mat-card-title class="inner_title">THE US BASED<br>AS WELL AS GLOBAL</mat-card-title>
                        <p class="para">strategy of Universal Tech Associates involves an integration of independent
                            technologies and methodologies
                            bundled with the needs of
                            corporations, government and
                            billion-dollar agencies worldwide.
                            Especially those that are specific to the Japanese marketplace.</p>
                    </mat-card-content>
                    <mat-card-content class="list_item part2">
                        <mat-card-title class="inner_title">Using this approach,</mat-card-title>
                        <p class="para">The technology and marketing agency partners we represent have the possibility
                            of bundling with non-competing but highly complementary technologies in a blended platform.
                        </p>
                        <p class="para">Each technology, we introduce into an ecosystem, must be capable of successful
                            performance in Asia WWW a particular emphasis in Japan and other markets on a standalone
                            Asia. However, when bundled together the disparate technologies we introduce work together
                            as a powerful new suite of solutions that our global partnerships are seeking.</p>
                    </mat-card-content>


                </mat-card-content>
                <button mat-button class="univ_button">Think you fit the bill? Learn more about partnering with us
                    here</button>
            </mat-card-content>
        </mat-card-content>
    </mat-card-content>
</mat-card>

<mat-card class="uvTech_lastblk">
    <mat-card-content class="container">
        <mat-card-content class="inner_content">
            <mat-card-title class="title_bg">OUR CURRENT PORTFOLIO OF TECH AND MARKETING COMPANIES</mat-card-title>
            <p class="para">Please have a review of our current global technology and marketing projects we are
                currently
                representing in the global marketplace. These companies and technologies are filling the current
                landscape of the potential relationships being developed.</p>
            <p class="subTest"><span mat-button>WE ARE LOOKING TO EXPAND</span>and invite you to see if you qualify.</p>
            <mat-toolbar class="leaM">
                <button mat-button class="univ_button">Learn More</button>
            </mat-toolbar>
        </mat-card-content>
    </mat-card-content>
</mat-card>
<app-footer></app-footer>