<app-header></app-header>
<!-- start top banner -->
<mat-card class="top_wrapper">
    <mat-card-content class="container">
        <mat-card-content class="top_inner_content">
            <mat-card-content class="logo_i">
                <img src="../../../assets/images/universal-tech-logo.png">
            </mat-card-content>
            <mat-card-title class="title">
                <span>UNIVERSAL TECH</span>
            </mat-card-title>
            <mat-subtitle class="subtitle text-uppercase">TECHNOLOGY AND PLATFORMS TO THE GLOBAL MARKETPLACE</mat-subtitle>
        </mat-card-content>
    </mat-card-content>
</mat-card>
<!-- end top banner -->

<section class="aboutwirthlinblock">    

    <mat-card class="b1">
        <mat-card-content class="container">            
            <mat-card-title class="art_title">ARE YOU READY FOR MASSIVE GLOBAL SUCCESS?</mat-card-title>
            <mat-card-content class="b1-content">
                <p class="parag">Do you own a technology company that would benefit from a global audience? We can introduce, negotiate and structure deals for
                    your company with the largest global partnerships in the world.</p>
                <p class="parag">Not all companies will qualify as there are many requirements in scalability, use case MVP proof and overall business design that must be analyzed and reviewed. Engagement with Universal Tech Associates requires a monthly retainer starting at 50k for most companies and could be depending on engagement.</p>
                
                <mat-card-content class="orangegradbox">
                    <p class="parag">WE CAN SHARE WITH YOU PROOF AND WHITEPAPERS BASED ON OUR SUCCESS TO DEVELOPING GLOBAL MARKETS FOR OUR 
                        PARTNERS THROUGH <span>WIRTHLINWORLDWIDE</span> UPON REQUEST.</p>
                </mat-card-content>
                <a class="btnblue" href="https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/UniversalTechAssociatesPowerPoint_Representation_PPT.pdf" target="_blank">Please click here to download our representation deck.</a>
                <a class="btnblue" [routerLink]="['/contact']">Please contact us right away to schedule a discovery with your company to see if working together is going to make sense for you.</a>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
  

    <mat-card class="b2">
        <mat-card-content class="container">            
            <mat-card-content class="b2-content">                
                <mat-card-content class="bluebox">
                    <p class="parag">Testimonial from the Beto Paredes Family of Companies</p>
                        <span class="arrowleftb2">
                            <img class="" src="../../../assets/images/arrowleftb2.png">
                        </span>
                </mat-card-content>
                <mat-card-content class="videoWrapperblock">
                    <mat-card-content class="videoWrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/UN-1GdoL25w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </mat-card-content>                    
                </mat-card-content>
                
            </mat-card-content>
            
        </mat-card-content>
    </mat-card>
    
</section>  

<!-- <div class="img_wr">
    <img src="../../../assets/images/representation1.jpg">
</div>
<div class="img_wr">
    <img src="../../../assets/images/representation2.jpg">
</div> -->

<app-footer></app-footer>
