<app-header></app-header>
<mat-card class="top_wrapper">
    <mat-card-content class="container">
        <mat-card-content class="top_inner_content">
            <mat-card-content class="logo_i">
                <img src="../../../assets/images/universal-tech-logo.png">
            </mat-card-content>
            <mat-card-title class="title">
                BELOW IS OUR <span> PORTFOLIO</span>
            </mat-card-title>
            <mat-subtitle class="subtitle"> Of current projects and companies that are working directly with <br>
                <span> Universal Tech Associates </span> in various stages of development.
            </mat-subtitle>
        </mat-card-content>

    </mat-card-content>
</mat-card>
<!-- end top banner -->

<section class="structure1">
    <mat-card class="artist_wrpr">
        <mat-card-content class="artist_inner">
            <mat-card-title class="art_title">artistxp-the artist experience</mat-card-title>

            <mat-card-content class="wrpr">
                <mat-card-content class="img_wr">
                    <img src="../../../assets/images/artist_image.jpg">
                </mat-card-content>


                <mat-card-content class="little_wrpr">
                    <p class="para"><span> THE ARTIST EXPERIENCE SOCIAL NETWORK IS THE NEW WAY FOR ARTISTS AND FANS TO
                            CONNECT!
                        </span>Universal Tech Associates is currently working with
                        ArtistXP to take their application into the Asian and Indian marketplace.
                    </p>
                    <p class="paraheader">DIRECTIVES:</p>
                    <p class="para_with_bg">Introductions and proposals for partnerships with Amuse, Pony Canyon, LDT,
                        Lionsgate
                        India and A-Grade Investments. In current discussions and dialogues with all companies.</p>
                    <button mat-button class="univ_button">To review potential partner profiles, click here.</button>
                    <button mat-button class="univ_button">To review potential partner profiles, click here.</button>
                </mat-card-content>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</section>
<!-- end artist wrapper -->
<section class="structure2">
    <mat-card class="model2 bgInner BtoPredes">
        <mat-card-content class="inner_wrpo">
            <mat-card-content class="items_prt">
                <p class="title_bg"> THE BETO PAREDES FAMILY OF COMPANIES</p>
                <p class="desc">The Beto Paredes Family of Companies have been together as a technology
                    development group for over 15 years. They represent a consortium of
                    technologies available to ad agencies, medium and small businesses.</p>
                <p class="h_tag">DIRECTIVES:</p>
                <p class="bg_contain">Contracts in completion with Blue Coast Savings, the largest franchise business
                    consultancy in the U.S.A. Currently
                    working discovery into European and Australian markets for sales force development worldwide.</p>
                <button mat-button class="univ_button">To see company information, click here</button>
            </mat-card-content>
            <mat-card-content class="image_w">
                <img src="../../../assets/images/betoParedesbg.jpg">
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</section>

<section class="structure1">
    <mat-card class="artist_wrpr geoBG">
        <mat-card-content class="artist_inner">
            <mat-card-content class="wrpr">
                <mat-card-content class="img_wr">
                    <img src="../../../assets/images/geoHomepagesection.jpg">
                </mat-card-content>
                <mat-card-content class="little_wrpr">
                    <mat-card-title class="title_bg">GEOFENCEDSP</mat-card-title>
                    <p class="para">GEOFenceDSP.com is a GEO Fencing platform technology specializing in the use of Big
                        Data to Micro-target customers down to the very fence line of the business or residential
                        location. The GEO business model is based on selling to advertising agencies and large-scale
                        advertisers worldwide.
                    </p>
                    <p class="paraheader">DIRECTIVES:</p>
                    <p class="para_with_bg">Universal Tech Associates have developed a relationship for GEO with ECS
                        Image, one of the largest and most successful
                        advertising agencies in the united states. ECS’s customer base
                        includes Holland America, Sam’s Club, Carnival Cruise and
                        several others across the country. Wirthlin is currently
                        negotiating deals for GEOFenceDSP with Hakuhodo Kettle, Dentsu, and ADK.</p>
                    <button mat-button class="univ_button">To review potential Wirthlin partner profiles, click
                        here</button>
                    <button mat-button class="univ_button"> To see company information, click here</button>
                </mat-card-content>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</section>
<!-- end geofence -->
<section class="structure2">
    <mat-card class="model2 contextBg">
        <mat-card-content class="inner_wrpo">
            <mat-card-content class="items_prt">
                <p class="title_bg">CONTXT</p>
                <p class="desc">ConTxt is a powerful communication suite of tools developed with over 160 instances of
                    technology including PBX, presentation tools, email communications and much more. ConTxt is
                    currently working in both the USA and Japan set up with the assistance of Wirthlin.</p>
                <p class="h_tag">DIRECTIVES:</p>
                <p class="bg_contain">Through Wirthlin introductions, contracts and proposals have bene presented and
                    are in the closing cycle for ConTxt and the government of Japan (METI), the Japanese ministry of
                    defense
                    as well as Honda. Introductions and proposals are also being
                    presented to Hakuhodo Kettle, Dentsu, and ADK.</p>
                <button mat-button class="univ_button">To review potential Wirthlin partner profiles, click
                    here.</button>
            </mat-card-content>
            <mat-card-content class="image_w">
                <img src="../../../assets/images/contextbg.jpg">
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</section>
<!-- context end --> 
<section class="structure1">
    <mat-card class="artist_wrpr influxiq">
        <mat-card-content class="artist_inner">
            <mat-card-content class="wrpr">
                <mat-card-content class="img_wr">
                    <img src="../../../assets/images/influxiqLogoPage.jpg">
                </mat-card-content>
                <mat-card-content class="little_wrpr">
                    <mat-card-title class="title_bg">INFLUXIQ MARKETING AGENCY</mat-card-title>
                    <p class="para">InfluxIQ.com is a technology and marketing firm specializing in small to medium size businesses in the United States. They offer marketing services in Facebook ads, google ad words and the development of marketing website technologies.
                    </p>
                    <p class="paraheader">DIRECTIVES:</p>
                    <p class="para_with_bg">Contracts in completion with Blue Coast Savings, the largest 
                        franchise business consultancy in the U.S.A. Currently working discovery into European and Australian markets for sales force development worldwide.</p> 
                    <button mat-button class="univ_button">To see company information, click here.</button>
                </mat-card-content>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</section>
<!-- influxi2 end -->
<section class="structure2">
    <mat-card class="model2 fluentbuzz">
        <mat-card-content class="inner_wrpo">
            <mat-card-content class="items_prt">
                <p class="title_bg">FLUENTBUZZ SOCIAL 
                    INFLUENCER NETWORK</p>
                <p class="desc">FluentBUZZ is a new social influencer network with a residual income model. Influencers make a percentage of any purchase made by customers brought to the site. And this doesn’t just happen once. This happens for the life of the 
                    customer. For as long as your customers continue their relationships with our brands, you will make money off every single purchase they make.</p>
                <p class="h_tag">DIRECTIVES:</p>
                <p class="bg_contain">Currently Wirthlin is investigating opportunities for FluentBUZZ to work directly with several potential multi-national 
                    corporations to put together an advocacy program crisis 
                    management.</p>
                <button mat-button class="univ_button">To see company information, click here</button>
            </mat-card-content>
            <mat-card-content class="image_w">
                <img src="../../../assets/images/fluentbuzzHome.jpg">
            </mat-card-content>
        </mat-card-content>

    <mat-card-content class="interested_wr">
        <p class="interest">
            Interested in having Universal Tech Associates and WirthlinWorldwide represent you on the global stage?
Do you have technologies and marketing platforms that would .benefit from performance on the world stage?
        </p>
        <button mat-button class="univ_button">To see company information, click here</button>
    </mat-card-content>
    </mat-card>
</section>





<!-- <div class="img_wr">
        <img src="../../../assets/images/prospect1.jpg">
    </div> -->
<!-- <div class="img_wr">
        <img src="../../../assets/images/prospect2.jpg">
    </div> -->
<!-- <div class="img_wr">
    <img src="../../../assets/images/prospect3.jpg">
</div>
<div class="img_wr">
    <img src="../../../assets/images/prospect4.jpg">
</div> -->

<!-- 8372067059 -->
<app-footer></app-footer>