
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'MontserratRegular';
    src: url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratSemibold';
    src: url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ArnoproRegular';
    src: url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/ArnoPro-Regular.woff2') format('woff2'),
        url('https://all-frontend-assets.s3.amazonaws.com/universaltechassociates/assets/fonts/ArnoPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


 
.header_w .inner_wrapper  .mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0!important;
    position: relative;
    height: inherit;
    justify-content: center!important;
}
.header_w .inner_wrapper .mat-nav-list .mat-list-item:hover {
    background: linear-gradient(45deg, #f5f200, #b6fd00)!important;
    border-radius: 25px;
    color: #243238!important;
}

.img_wr img{
    max-width: 100%; vertical-align: middle;
}

.nav_wrapper .mat-list-base .mat-list-item .mat-list-item-content{
    padding: 0 8px!important;
}

.form_inner .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d4d4d4;
    padding: 4px 10px; background: #fff;
}
.form_inner .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
}
.univ_button{
    white-space: normal!important;
    font-size: 20px;
    font-family: 'MontserratBold';
    color: #fff;
    padding: 10px 16px!important; 
    background: linear-gradient(0deg, #399cd5, #43beda);
    border-radius: 30px!important;
}
.title_bg{ background: #359ebb; font-family: 'ArnoproRegular'; font-size: 60px; padding: 10px;
    box-sizing: border-box; border-radius: 6px; color: #fff; position: relative; line-height: 58px; }
    
    .title_bg::before{
        content: '';
        clip-path: polygon(0 0, 100% 0, 100% 68%);
        position: absolute;
        width: 30px;
        height: 25px;
        bottom: -23px;
        background:#359ebb;
        left: 0;
    }