
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'MontserratRegular';
    src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratSemibold';
    src: url('./assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('./assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('./assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
 
.header_w .inner_wrapper  .mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0!important;
    position: relative;
    height: inherit;
    justify-content: center!important;
}
.header_w .inner_wrapper .mat-nav-list .mat-list-item:hover {
    background: linear-gradient(45deg, #f5f200, #b6fd00)!important;
    border-radius: 25px;
    color: #243238!important;
}

.img_wr img{
    max-width: 100%; vertical-align: middle;
}

.nav_wrapper .mat-list-base .mat-list-item .mat-list-item-content{
    padding: 0 8px!important;
}

.form_inner .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d4d4d4;
    padding: 10px; background: #fff;
}